<%- include("partials/header") %>
<h1>About</h1>
<div>
    <p><%= aboutContentName %></p>
    <p><%= aboutContentInterests %></p>
    <p><%= aboutContentLearn %></p>
</div>
<%- include("partials/footer") %>